.partners {
  text-align: center;
  margin-top: 100px;
  font-weight: bold;
}
.brand-logo {
  margin-top: 50px;
}
.logo {
  width: 300px;
  margin-right: 80px;
}
.logo1 {
  width: 170px;
  margin-right: 130px;
}
.logo2 {
  width: 200px;
}
.logo3 {
  width: 300px;
  margin-right: 100px;
}
.logo4 {
  width: 200px;
  margin-right: 130px;
}
.logo5 {
  width: 200px;
}
